<h1>New User</h1>

<%= form_for @user do |f| %>
  Name: <%= f.text_field :name %>
  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  Phone: <%= f.text_field :phone %>
  Station: <%= f.text_field :station %>
  BirthYear: <%= f.text_field :birth_year %>
  <%= f.submit %>
<% end %>