<h1>What Day Of The Week Is It?</h1>

<%= form_for :available_day, :url => available_day_path do |f| %>


  
 
  <%= f.submit "Lakewood Station" %>
  <%= f.submit "Cerritos Station" %>
  <%= f.submit "Carson Station" %>
  <%= f.submit "Norwalk Station" %>
  <%= f.submit "Compton Station" %>

<% end %>