<h1>What Day Of The Week Is It?</h1>

<%= form_for :available_day, :url => available_days_path do |f| %>


  <div id="days">
 
	  <%= f.submit "Monday", :class => "btn btn-info" %>
	  
  	<br>
  	<br>
	  <%= f.submit "Tuesday", :class => "btn btn-info" %>
	  
  <br>
  <br>
	  <%= f.submit "Wednesday", :class => "btn btn-info" %>
	  
  <br>
  <br>
	  <%= f.submit "Thursday", :class => "btn btn-info" %>
	  
  <br>
  <br>
	  <%= f.submit "Friday", :class => "btn btn-info" %>
	  
  <br>
  <br>
	  <%= f.submit "Saturday", :class => "btn btn-info" %>

  <br>
  <br>
	  <%= f.submit "Sunday", :class => "btn btn-info" %>
    </div>
<% end %>