<h1>What Day Of The Week Is It?</h1>

<%= form_for :available_day, :url => available_days_path do |f| %>


  
 
  <%= f.submit "Monday" %>
  <%= f.submit "Tuesday" %>
  <%= f.submit "Wednesday" %>
  <%= f.submit "Thursday" %>
  <%= f.submit "Friday" %>
  <%= f.submit "Saturday" %>
  <%= f.submit "Sunday" %>

<% end %>